<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	
	    <h1>Page not found !!! </h1>
	    
	    <br/>
	    <br/>
	    
	    <span style="font-size:1.5em;">Your page does not exist on this server ...</span>
	</div>
    </div>


    </body>
</html>

