      <!-- Barre de navigation pour l'administration -->
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/admin"><b>Édition d'articles</b></a></li>
	      <li><a href="/admin/projet_ed"><b>Édition de projets</b></a></li>
	      <li><a href="/admin/projet_mgt"><b>Management de projets</b></a></li>
	      <li><a href="/admin/comment_mgt"><b>(<%= waiting_comments %>) commentaires</b></a></li>
	      <li><a href="/admin/Users"><b>Utilisateurs</b></a></li>
	      <li><a href="/admin/list_articles"><b>Liste articles</b></a></li>
	      <li><a href="/admin/upload"><b>Upload</b></a></li>
            </ul>
          </div>
        </div>
      </div>
