<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

<% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	
	    <h1> Archives </h1>
	    
	    <h2>Sélectinnez une année : </h2>
	    <br/>
	    <ul>
		<%
		    for( var i = 0; i < years.length; i++ ) {
		%>
			<li><a href="/archives/<%=years[i].year%>" style="font-size:2em;" ><%=years[i].year%></a></li>
			<br/><br/>
		<%
		    }
		%>
	    </ul>
	</div>
    </div>


    </body>
</html>

