<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
	
	    <h1> Archives </h1>
	    
	    <h2>Sélectinnez un mois de <%= year %> : </h2>
	    <br/>
	    <ul>
		<%
		    for( var i = 0; i < months.length; i++ ) {
		%>
			<li><a href="/archives/<%= year %>/<%=months_id[i].month%>" style="font-size:2em;" >
			    <%=months[i]%>
			</a></li>
			<br/><br/>
		<%
		    }
		%>
	    </ul>
	</div>
    </div>


    </body>
</html>

