<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
    
      <% include admin_navbar.ejs  %>
    
	<div class="jumbotron">
		<form class="form-horizontal" role="form" action="/post_new_article" method="post">
		    <legend>Création d'articles</legend>
		    <div class="control-group">
			<div class="controls">
			    <input id="title" name="title" size="35" placeholder="Titre" class="input-xlarge" type="text"/>
			</div>
		    </div>
		    <br/>
		    Thème : 
		    <select name="theme">
			<%
			    for( var i = 0; i < subjects.length; i++ ) {
			%>
			    <option value="<%= i %>"><%= subjects[i] %></option>
			<%
			    }
			%>
		    </select> 
		    <br/>
		    <br/>
		    <div class="control-group">
			<div class="controls">
			    <input id="tags" name="tags" size="100" placeholder="Les tags de votre article" class="input-xlarge" required="" type="text"/>    
			</div>
		    </div>
		    <br/>
		    <div class="control-group">
			<div class="controls">
			    <input id="summary" name="summary" size="100" placeholder="Un résumé de votre article" class="input-xlarge" required="" type="text"/>    
			</div>
		    </div>
		    <br/>
		    <div class="control-group">
			<div class="controls">                     
			    <textarea id="text" name="text" rows="50" cols="100" onclick="empty('text')">Le corps de votre article</textarea>
			</div>
		    </div>	    
		    <br/>
		    <div class="control-group">
			<div class="controls">
			    <input type="submit" value="Envoyer" class="btn btn-success"/>
			</div>
		    </div>
		</form>
	</div>
    </div>
    <script src="/scripts/empty_text_area.js"></script>
    </body>
</html>
