<!DOCTYPE html>
<html>
    <% include header.ejs %> 
    <body role="document">

    <% include navbar.ejs %>

    <div class="container theme-showcase" role="main">
	<div class="jumbotron">
		
		<form class="form-horizontal" role="form" action="/post_auth" method="post">
		    <legend>Veuillez vous authentifier !</legend>
		    <div class="control-group">
			<div class="controls">
			    <input id="login" name="login" size="35" placeholder="Login" class="input-xlarge" type="text"/>
			</div>
		    </div>
		    <br/>
		    <div class="control-group">
			<div class="controls">
			    <input id="pass" name="pass" size="35" placeholder="Votre mot de passe" class="input-xlarge" required="" type="password"/>    
			</div>
		    </div>
		    <br/>
		    <div class="control-group">
			<div class="controls">
			    <input type="submit" value="Envoyer" class="btn btn-success"/>
			</div>
		    </div>
		</form>
	</div>
    </div>

    </body>
</html>
