    <head>
	<title>Benwa's blog</title>
	<link rel="shortcut icon" href="/images/icon.png">
	<meta property="og:site_name" content="Benwa's blog"/>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mon blog personnel">
	<meta name="author" content="Benoit Tellier">
	<meta name="keywords" content="Software,Kernel,Administration Système, Blog, Progets">
<!--	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-49255147-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
	<link href="/styles/theme.css" rel="stylesheet">
	<link href="/styles/bootstrap.min.css" rel="stylesheet">
	<link href="/styles/bootstrap-theme.min.css" rel="stylesheet">
	
	
	<!-- Include required JS files -->
	<script type="text/javascript" src="/scripts/shCore.js"></script>
	<script type="text/javascript" src="/scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="/scripts/shBrushJScript.js"></script>
	<link href="/styles/shCore.css" rel="stylesheet" type="text/css" />
	<link href="/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
	
    </head>
